<%# locals: (suggestions:, deck:) %>
<div class="space-y-3">
  <% suggestions.each do |suggestion| %>
    <%= render "themes/suggestion_card", suggestion: suggestion, deck: deck %>
  <% end %>
</div>
